/* Universal Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
    --dark-blue: hsl(198, 62%, 26%); /* photography text */
    --dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */
  
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --footer-bg: #90d4c5;
  }

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
}

.img-mobile {
    display: none;
}

/* Start Mobile Section Styling */
@media (max-width: 31.25rem) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block !important;
    }

}
/* End Mobile Section Styling */

/* Header Styles */

header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header-content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.header-content > .content {
    position: absolute;
    display: grid;
    gap: 2.25rem;
    place-items: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.header-content > .content h1 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 800;
    color: var(--white);
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    white-space: nowrap;
    margin-top: 1rem;
}

.header-content > .content > img {
    height: 7.5rem;
    width: auto;
    animation: arrow-down-move 1s ease-in infinite alternate;
}

@keyframes arrow-down-move {
    to {
        transform: translateY(2.5rem);
    }
}

/* Start Mobile Section Styling */
@media (max-width: 31.25rem) {
    .header-content > .content {
        top: 43%;
    }

    .header-content > .content h1 {
        font-size: 2.25rem;
        white-space: initial;
        text-align: center;
        letter-spacing: .3125rem;
    }

    .header-content > .content > img.hidden {
        display: none;
    }
}
/* End Mobile Section Styling */


/* Nav Styling */

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.toolbar > img.logo {
    width: 12.5rem;
    min-width: 12.5rem;
}

.toolbar nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.toolbar nav ul a {
    display: block;
    cursor: pointer;
    position: relative;
    color: var(--white);
    font-size: 1.125rem;
    text-decoration: none;
}

.toolbar nav ul a:not(.contact)::before {
    content: '';
    position: absolute;
    bottom: .375rem;
    height: .1875rem;
    border-radius: .125rem;
    width: 100%;
    transition: transform 0.3s;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
}

.toolbar nav ul a:not(.contact):hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

.toolbar nav li a.contact {
    font-family: 'Franceus', sans-serif;
    color: var(--very-dark-desaturated-blue);
    background-color: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    font-size: .875rem;
    transition: 0.2s;
}

.toolbar nav li a.contact:hover {
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.3);
}

.toolbar > button.hamburger {
    display: none;
    width: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.toolbar > button.hamburger img {
    width: 100%;
    height: 100%;
}

/* Start Mobile Section Styling */
@media (max-width: 31.25rem) {
    .toolbar > button.hamburger {
        display: block;
    }

    .toolbar > nav {
        position: absolute;
        background-color: var(--white);
        top: 6.25rem;
        width: calc(100vw - 3.75rem);
        left: 50%;
        transform: translateX(-50%);
        padding: 2rem 0;
        opacity: 0;
        visibility: hidden;
        transition: transform 0.5s;
    }

    .toolbar > nav.show {
        transform: translate(-50%, .625rem);
        opacity: 1;
        visibility: visible;
    }

    .toolbar > nav::before {
        content: '';
        position: absolute;
        background-color: inherit;
        height: 1.875rem;
        width: 1.5625rem;
        clip-path: polygon(0 100% 100% 100% 100% 0);
        right: 0;
        top: -1.8125rem;
    }

    .toolbar nav ul {
        flex-direction: column;
        gap: 2rem;
    }

    .toolbar nav li a {
        color: var(--dark-grayish-blue);
    }

    .toolbar nav li a.contact {
        background-color: var(--yellow);
    }

    .toolbar nav li a.contact:hover {
        color: var(--very-dark-desaturated-blue);
        background-color: var(--yellow);
    }

    .toolbar > img.logo {
        width: 8.125rem;
        min-width: 8.125rem;
    }
}
/* End Mobile Section Styling */

/* Start About Section Styling */
.about-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    padding: 1.25rem;
    background-color: var(--white);
}

.about-text h2 {
    font-family: 'Fraunces', sans-serif;
    font-size: 2.25rem;
    color: var(--very-dark-desaturated-blue);
    font-weight: 900;
}

.about-text p {
    color: var(--very-dark-grayish-blue);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 2rem;
}

.about-text a {
    display: block;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    padding: 0 .5rem;
    color: var(--very-dark-desaturated-blue);
    cursor: pointer;
    margin-top: 2rem;
    font-weight: 900;
    z-index: 0;
}

.about-text a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: .625rem;
    border-radius: .5rem;
    bottom: -0.1875rem;
    left: 0;
    z-index: -1;
    opacity: 0.3;
    transition: 0.2s;
}

.about-text a.yellow::before {
    background-color: var(--yellow);
}

.about-text a.red::before {
    background-color: var(--soft-red);
}

.about-text a:hover::before {
    opacity: 1;
}
/* End About Section Styling */

/* Start Mobile Section Styling */
@media (max-width: 31.25rem) {
    .about-row {
        grid-template-columns: 1fr;
    }

    .about-row:first-of-type > .about-text {
        order: 1;
    }

    .about-row > .about-text {
        padding: 3.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-row > .about-text > h2 {
        font-size: 2rem;
        margin: 0;
    }

    .about-row > .about-text > p {
        margin-bottom: 0;
    }
}
/* End Mobile Section Styling */

/* Start Services Section Styling */
section#services {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service {
    position: relative;
}

.service > img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.service-text {
    padding: 21.875rem 25% 5%;
    text-align: center;
}

.service-text.graphic-design {
    color: var(--dark-desaturated-cyan);
}

.service-text.photography {
    color: var(--dark-blue);
}

.service-text h2 {
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: capitalize;
}

.service-text p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
/* End Services Section Styling */

/* Start Mobile Section Styling */
@media (max-width: 31.25rem) {
    section#services {
        grid-template-columns: 1fr;
    }

    .service-text {
        padding: 21.875rem 1.5rem 2rem;
    }

    .service-text h2 {
        font-size: 1.75rem;
    }

    .service-text p {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}
/* End Mobile Section Styling */

/* Start Testimonials Section Styling */
section#testimonials {
    padding: 10%;
    background-color: var(--white);
}

section#testimonials h2 {
    text-align: center;
    font-family: 'Fraunces', sans-serif;
    font-size: 1.375rem;
    text-transform: uppercase;
    letter-spacing: .3125rem;
    color: var(--grayish-blue);
    font-weight: 900;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3.5rem;
    padding: 0 1.5rem;
}

.testimonial > img {
    height: 4.375rem;
    width: 4.375rem;
    border-radius: 50%;
}

.testimonial > p {
    margin-top: 3.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--very-dark-grayish-blue);
}

.user-data {
    margin-top: 3.5rem;
}

.user-data p.name {
    font-family: 'Fraunces', sans-serif;
    font-size: 1.125rem;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
    margin: 0;
}

.user-data p.role {
    color: var(--dark-grayish-blue);
    font-size: 1rem;
    margin-top: .875rem;
}
/* End Testimonials Section Styling */

/* Start Mobile Section Styling */
@media (max-width: 31.25rem) {
    section#testimonials {
        padding: 3.5rem 1.5rem;
    }

    section#testimonials h2 {
        font-size: 1rem;
        letter-spacing: .25rem;
        margin-top: 0;
    }

    .testimonials-grid {
        grid-template-columns: 1fr;
    }

    .testimonial {
        padding: 0;
    }

    .testimonial > p {
        margin-top: 1.5rem;
    }

    .user-data {
        margin-top: 1rem;
    }

    .user-data p.role {
        margin-top: .5rem;
        font-size: .875rem;
    }
}
/* End Mobile Section Styling */

/* Start Projects Section Styling */
section#projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section#projects img {
    width: 100%;
}
/* End Projects Section Styling */

/* Start Mobile Section Styling */
@media (max-width: 31.25rem) {
    section#projects {
        grid-template-columns: 1fr 1fr;
    }
}
/* End Mobile Section Styling */

/* Start Footer Section Styling */
footer {
    background-color: var(--footer-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem;
}

footer > img.logo {
    color: var(--dark-moderate-cyan);
    width: 10rem;
    height: auto;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

footer ul li {
    cursor: pointer;
}

footer ul li a {
    color: var(--dark-moderate-cyan);
    transition: 0.2s;
}

footer ul li a:hover {
    color: var(--white);
}

ul.section-links {
    gap: 3.5rem;
    margin-top: 2rem;
}

ul.section-links li a {
    font-size: 1.125rem;
    text-decoration: none;
}

ul.social-links {
    margin-top: 4.5rem;
    gap: 1.625rem;
}

ul.social-links li {
    font-size: 1.5rem;
}
/* End Footer Section Styling */

/* Start Mobile Section Styling */
@media (max-width: 31.25rem) {
    footer {
        padding: 4rem 1.5rem 4.5rem;
    }

    footer ul.section-links {
        margin-top: 3rem;
    }

    ul.social-links li {
        font-size: 1.375rem;
    }
}
/* End Mobile Section Styling */

  